#about1{
	padding:3.5rem 0;
}
.about__img{
	padding-right: 6rem;
	img{
		box-shadow:5px 5px 10px #242424;
	}
}
.dailoc__about--body{
	padding :1.5rem 0;
	display: block;
}
#about2{
	padding:4.5rem 0;
	background-color: #efefef;

}
.box-about-2{
	padding:0 2.5rem;
	text-align: justify; 
	margin-top: 1rem;
	img{
		max-width: 10rem;
		display:block ;
		margin: auto;
	}

}
.box-about-3{
	padding:0 2.5rem;
	text-align: justify; 
	margin-top: 2.5rem;
	img{
		max-width: 10rem;
		display:block ;
		margin: auto;
	}

}
#about3{
	padding:4.5rem 0;
	background-color: #ffffff;
	background-image: url('../images/bg_tamnhin.jpg');
	background-size:auto 100%;
	background-position: top right;
	background-repeat: no-repeat;


}
.box-about_body{
	display: flex;
}
.box-about-3{
	position: relative;
}
.box-about-3+.box-about-3{
	&:after{
		content:'';
		background-color: #013e1f;
		width:2px ;
		height: auto;
		position: absolute;
		top:0;
		bottom: 50%;
		left:0;
	}
}