#footer{
	background-color: #3d4547;
	padding:4rem 0; 
}
.media-footer{
	color: #FFFFFF;
	font-size: 1.125rem;
	justify-content: center !important;
	align-items: center !important;
	margin-bottom: 1.5rem;
	.media-body {
    	flex: initial;
	}
}
.title-footer{
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	font-size:1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.list-link{
	li{
		a{
			color:#ffffff;
			padding: 0.5rem 0;
			display: block;
			font-size: 1.125rem;
		}
	}
}