.header__navbar{
    //background-color: #90d4d7 ;
    background: rgba(108,170,61,1);
    background: -moz-linear-gradient(left, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(108,170,61,1)), color-stop(71%, rgba(13,91,55,1)), color-stop(100%, rgba(13,91,55,1)));
    background: -webkit-linear-gradient(left, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
    background: -o-linear-gradient(left, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
    background: -ms-linear-gradient(left, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
    background: linear-gradient(to right, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6caa3d', endColorstr='#0d5b37', GradientType=1 );
    padding: 0rem;
    transform: skew(-25deg);
    &:before{
        content: '';
        position: absolute;
        border-left:3px solid #0c5b37;
        width: 1px;
        height: 100%;
        display: flex;
        left: -7px;


    }
    
    .navbar-collapse{
        ul{

            li {
                //background-color: #90d4d7 ;
                
                a{
                    text-transform: uppercase;
                    font-weight:600;
                    font-size: 1.25em;
                    padding: 1.9375rem 2rem !important;
                    transform: skew(25deg);
                    
                    
                }
                .nav-link{
                    color: #ffffff;
                }
                &:hover{
                    background-color: #1e6938;
                }
    
            }
            .active{
            
                background-color: #1e6938;
            }
            li+li{
                border-left:1px solid #468a8d;
            }
            
        }
    }
}
.header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 92px;

}
.header-container{
    position: relative;
    &:before {
        width: 100%;
        height: 92px;
        background-color: #0c5b37 ;
        display: block;
        content: '';
        position: absolute;
        right: -96%;
        top: 0;
    }
}