.news{
    .card{
        margin-bottom: 1.5rem;
        border-radius:0;
    }
    .card-img-top{
        border-radius:0;
    }
}
.widget_products,
.flatsome_recent_posts {
    background: #fff;
    padding: 10px;
    border: 1px solid #f7f7f7
}

.product_list_widget li a {
    font-size: 15px;
    color: #272727
}

.product_list_widget li ins span {
    color: #f81370
}

.product_list_widget li del span {
    font-size: 14px;
    color: gray
}

.archive .product-small .product-title {
    font-size: 16px;
    margin-bottom: 15px
}

.archive .product-small .price ins span {
    font-size: 20px;
    color: #e20688
}

.archive .product-small .badge {
    margin: 10px
}

.archive .product-small .badge-inner {
    border-radius: 99%;
    font-weight: 400;
    font-size: 15px
}

.widget .cam-ket-box {
    border-bottom-right-radius: 0
}
#flatsome_recent_posts-3 ul{
    list-style: none;
    padding-left:0;
    a{
        color: #2b7039;
        font-size:0.875rem;
        text-decoration: none;
    }

}
.recent-blog-posts {
    padding: 10px 0 10px;
}
ul.menu>li+li, .widget>ul>li+li {
    border-top: 1px solid #ececec;
}
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0, 0, 0, .1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
