#products{
	padding: 4rem 0 ;
}
.product_body{
	position: relative;
	overflow: hidden;
	&:hover{
		&:after{
			opacity: 0.8;
	    	visibility: visible;
		}
		.caption{
			opacity: 1;
	    	visibility: visible;
	    	bottom: 30%;
		}
	}
	&:after{
		content: '';
		position: absolute;
		left: -8.5rem;
		right: 0;
		bottom: 0;
		top:0;
		background-color: #1e9d91;
		opacity: 0.8;
		z-index: 10;
		max-width: 100%;
		transform: skew(25deg);
		opacity: 0;
	    visibility: hidden;
	}
	.caption{
		width: 50%;
		font-size: 1.5rem;
		position: absolute;
		z-index: 20;
		bottom: 26%;
		left: 2rem;
		text-transform:uppercase;
		font-weight:600;
		color: #ffffff;
		opacity: 0;
	    visibility: hidden;
	    transition: all 0.2s;
	}
	.btn-readmore{
		background-color: #df0800;
		color:#FFFFFF;
		font-size: 1rem;
		box-shadow: 0 5px 5px #2c2b2b;
	}
}
.trapezoid {
	border-bottom: 2px solid #00401e;
	height: 40px;
	width: 100%;
	font-size:14px;
	font-weight:normal;
	line-height:32px;
	clear: both;
}
span.trapezoidbox{
	width: 0;
	height: 0;
	height: 24px;
	padding: 10px 15px;
	background-color:#00401e;
	color: #ffffff;
}
a.trapezoidline{
	float: right; 
	margin-left:15px; 
	margin-right: 5px;
}
.trapezoid li a{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 8px;
}

.box_new  {
float: left;
width: 100%;
background: #fff;
color:#212121;
padding: 5px;
margin-bottom: 10px;
}
.Author {
    float: left;
    font-size: 14px;
	padding-top:5px;
    width: 100%;
    color: #CC0000;
}
.box_new h3 {
 
}
.content {
padding: 10px 0;
}
.slide-home-n {
	overflow:hidden;
}
b.title_b {
	color: #212121;
	margin: 10px 0;
	line-height: 40px;
	font-size:16px;
	border-bottom: 2px solid #212121;
}
p.title_p {
color:#61544b;
}
p.title_p a {
color:#61544b;
}
.content iframe {
width: 100%;
height: 400px;
}
.img_adv img {
width: 100%;
}
.show_ct_fix {
width: 310px;
height: 100px;
position: fixed;
right: 0;
bottom: 0;
background: url(../images/contact.png);
border: 2px solid #BE1522;
/* border-radius: 5px; */
}
.show_ct_fix span {
background: #ED1B24;
padding: 2px 7px;
display: none;
float: left;
color: #fff;
cursor: pointer;
}
.show_ct_fix:hover span {
display: block;
}
.form-group{
 height:30px;
 clear: both;
}
.box_new .form-group {
margin-bottom: 15px;
width: 100%;
}
.box_new form {
margin-top: 10px;
}
.slide-home .col-lg-8 {
padding: 0;
}
.slide-home .col-lg-4 {
padding-right: 0;
}
.slide-1 {
background: #4A403D;
width: 100%;
height: 233px;
margin-bottom: 10px;
border-radius: 10px;
overflow: hidden;
}
.slide-home-n .carousel-inner > .item > img, .carousel-inner > .item > a > img {
line-height: 1;
 
overflow: hidden;
}
.ds-slide img {
border-radius: 10px;
overflow: hidden;
}
.ds-slide img {
max-height: 476px;
}
div#logo {
 
}
.phone {
position: absolute;
top: 30px;
}
.phone {
float: left;
line-height: 49px;
color: #9B2121;
font-size: 30px;
margin: 0px 0 20px;
}
.phone span {
color: #DF574B;
}
.prd_search {
  position: absolute;
  right: 20px;
  z-index: 9999;
  top: 10px;
}
.cart span {
  display: block;
  float: left;
  vertical-align: top;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px;
}
.giaprd {
    width: 100%;
	line-height:18px;
	margin-bottom:10px;
	text-align:center;
	min-height:130px;
	font-size: 14px;
}
.ds-slide {
margin-left: -15px;
margin-right: -15px;
}
.title_home {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 9px 25px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 5px;
    background: rgb(0, 141, 211);
}
.boxca-title.nanana a {
    color: #060606;
}
.pagenum, .pagenumactive {float: left;padding: 0px 5px; margin: 0 2px;}
.pagging { float:right;}
.pagging, .pagging .page {padding:10px; margin-bottom:5px;}
.dieal {
width: 100%;
height: 40px;
background: #F0F0F0;
border-bottom: 1px solid #ccc;
}
.cart {
 
}
.box_banner_cart {
height: 75px;
position: fixed;
background: #4A6F68;
width: 100%;
z-index: 999;
display: none;
transition: 1s all;
}
.menu .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color: #fff;
background-color: #0B467E  ;
}
 
.box_banner_cart {
text-align: center;
color: #DF574B;
line-height: 70px;
}
.show_cart {
z-index: 999;
color: #000;
clear: both;
display: none;
position: absolute;
top: 20px;
background: #fff;
width: 257px;
padding: 15px;
float: right;
right: 0;
border: 1px solid #e6e6e6;
border-radius: 0;
transition: 1s all;
}
.img_prd_cart {
float: left;
margin-right: 5%;
}
.prd_cart {
min-height: 70px;
border-bottom: 1px solid #ccc;
margin-bottom: 5px;
}
.prd_cart a, .prd_cart span {
font-size: 12px;
color: #8AC318;
}
.view_cart a.button {
display: inline-block;
text-decoration: none;
cursor: pointer;
background: #8AC318;
font-size: 12px;
line-height: 30px;
text-align: center;
border-radius: 0;
color: #fff;
min-width: 45px;
}
.title_prd_cart a {
color: #222;
font-size: 15px;
}
.view_cart a.button span {
padding: 0px 12px;
}
.show_cart p {
color: #353535;
}
.show-cart:hover .show_cart {
transition: 1s all;
display: block;
}
.km-title {
    width: 100%;
    float: left;
	height:65px;
	overflow:hidden;
}
.cart div {
display: block;
 
color: #837265;
text-decoration: none;
font-size: 12px;
text-transform: none;
line-height: 20px;
padding: 0 14px 0 0px;
cursor: pointer;
border-radius: 0;
}
.album_img {
height: 215px;
text-align: center;
margin: 10px 0;
}
.slide-1 img:hover {
transform: scale(1.1);
transition: 1s all;
border-radius: 10px;
}
.slide-1 img {
transition: 1s all;
}
.box_img img:hover {
opacity: 0.9;
}
.header-home {
 
min-height: 300px;
}
/* .noibat_sp_img {
margin-left: -15px;
margin-right: -15px;
text-align: center;
}*/
 .noibat_sp_img img{
 	display: inline-block;
 }
h1.title_noibat_sp {
margin: 10px 0 10px 0;
font-size: 20px;
color: #000;
}
span.giaold {
text-decoration: line-through;
color: #A1A1A1;
font-size: 16px;
}
/*span.giakm {
color: #9B2121;
font-size: 25px;
padding-right: 2%;
line-height: 40px;
}*/
.giakm1 {
margin-bottom: 10px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}
.km-image-detail img {
height: 75px;
}
.km-title-detail h3 {
font-size: 12px;
color: #2A2A2A;
font-weight: bold;
}
.km-prd-detail {
border-bottom: 1px dashed #ccc;
padding-bottom: 10px;
}
 
.km-image-detail {
float: left;
width: 35%;
}
.giaprd-detail span {
color: #f00;
}
.giaprd-mua span {
color: #000;
font-weight: bold;
}
p.call-detail {
font-size: 12px;
text-transform: none;
font-weight: bold;
color: #0086C0;
padding: 5px 0;
margin: 0;
}
.ma-sp.icon-lh-detail p {
margin: 0;
padding: 0;
}
div#contact ul li a:hover {
text-decoration: underline;
}
 
 
.prd-cat {
padding-left: 1px;
padding-right: 1px;
}
.box_cat_home{
margin-right: 0px;
margin-left: 0px;
float: left;
width: 100%;
margin-bottom: 10px;
}
 
.img-prd-cat img {
transition: 1s all;
display: inline-block;
}
.img-prd-cat img:hover {
transform:scale(1.1);

}
.img-prd-cat:hover {
cursor: pointer;
}

.list-cat-new {
float: left;
width: 100%;
margin: 10px 0;
border-bottom: 1px dashed #ccc;
padding-bottom: 5px;
}
.img-cat-new {
float: left;
margin: 0 10px 0 0;
}
h4.title2 {
margin: 0;
color: #222;
font-size: 17px;
}
h4.title2 {
margin: 0;
color: #4db2ec;
font-size: 15px;
}
.list_box_new {
padding: 10px;
font-style: italic;
}
.title_home_hot ul li {
display: inline-block;
width: 24px;
height: 24px;
}
 

.title_home_hot ul {
margin: 0;
padding: 0;
list-style: none;
text-align: right;
}
.titnormal {
float: left;
width: 100%;
margin: 0;
padding: 0;
padding-top: 10px;
padding: 5px;
}
.page-home {
    float: left;
    width: 100%;
    background: #fff;
}
 
.danhmuc {
float: left;
line-height: 50px;
padding: 0 10px;
color: #fff;
text-transform: uppercase;
cursor: pointer;
white-space: nowrap;
}
.navbar .nav > li:last-child > a {
border-right: 0px;
}
.danhmuchome > ul > li:hover {
  background: #EFEFEF;
}
.box__home1{clear: left; clear: right; clear: both;}
.product-view a, .tab-content a, .box_orther a, .box__home1 a, .padding-detail a{
	color: #00401e; 
	font-size:1rem;
}
.km-title{
	h3{
		font-size:1rem;text-align: center;
		margin-top: 5px;
	}
}
.box_cat_title {
	float: left;
	width: 100%;
	height: 38px;
	display: block;
	overflow: hidden;
	position: relative;
	border-bottom:1px solid #e0e0e0;
}

.box_cat_title > h3 > a{
	font-size:13px;
	font-weight:900;
	padding-bottom:6px;
	padding-left:5px; padding-right:15px;
}
a.muahang_home:hover, a.xemhang_home:hover {
	transition:0.5s all!important;
	opacity:1!important;
}
.km-prd-new a.muahang_home{
	position:absolute; 
	bottom:1%; 
	left:1%;
	transition:1s all; 
	display:block; 
	font-size:13px; 
	width: 98%;
	line-height:40px;
	text-decoration: none;
}
.km-prd-new:hover a.muahang_home{
	position:absolute; 
	bottom:1%; 
	left:1%;
	transition:1s all; 
	display:block; 
	font-size:13px; 
	width: 98%;
}
.km-prd-new:hover a.xemhang_home{
	position:absolute; 
	top:45%; 
	right:5px; 
	padding:3px 8px;
	display:block; 
	background-color:#fff; 
	font-size:12px; 
	width: 94%;
}
.title_home, .breadcrumb  {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 9px 25px;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 0px;
}
.muahang_home {
    color: #ffffff!important;
	background-color: #3e803b;
	text-align: center;
	&:hover{
		background-color: #00401e;
	}
}
.box_cat_home {
	float: left;
	width: 100%;
}
.div-tblock {
	height: 38px;
	float: left;
	width: 100%;
	text-align: left;
	padding-left:5px;
}
.div-tblock > a, .div-tblock > a > h1, .div-tblock > a > h2, .div-tblock > a > h3
{
	font-size:14px;
	font-weight:normal;
	line-height:38px;
}

ul#menu {
	margin: 0;
	list-style: none;
	padding: 10px 0px;
	width: 100%;
	float: left;
	border-top:none;
}

.title-bl h3 {
	font-size: 14px;
	margin: 0px 5px 5px 5px;
	line-height: 18px;
}
.giaprdold{
	text-decoration: line-through;
	font-weight: normal;
	font-size: 13px;
}
.menu-danhmuc, .page-home {
	margin-bottom:20px; 
}
marquee.chuchay {
	line-height:30px;
}
.class-ptops{
	position: absolute; top: 6px; right: 6px;
}

.km-desc {
	text-align: left;
	font-size: 12px;
	color: #7C7373;
	width: 100%;
	height: 35px;
	float: left;
}
.doitac1 {
	width: 100%;
	float: left;
	margin-bottom: 10px;
	color: #F97705;
	font-size: 17px;
	border-bottom: 1px solid;
}
.km-prd-new {
	margin: 5px 0px 0px 0px;
	position: relative;
	float: left;
	width: 100%;
	padding: 2px;
	border:1px solid #f1f1f1;
}
.box__home {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid rgba(11, 109, 255, 0.24);
	padding: 5px;
	background: rgba(255, 255, 255, 0.92);
	overflow: hidden;
	border-radius: 6px;
}
.box_cat_title.box_cat_titlenew h3 {
	line-height: 23px;
}
.box_menu ul.navbar-nav li:hover a {
	color: #FFCB00;
}
div#box_hover img, .product-img-box img {
    display: -webkit-inline-box;
    position: static;
    width: 100%;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.sp_space {
    padding-left: 0px;
    padding-right: 0px;
}
div#box_hover img:hover, .product-img-box img:hover {
    display: -webkit-inline-box;
    position: static;
    width: 100%;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
div#box_hover {
    overflow: hidden;
    text-align: center;
    max-height: 290px;
    padding: 2px;
}
.span.trapezoidbox{
	a{
		text-decoration: none;
	}
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
@media (min-width: 1200px){
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
}


.product-gallery,
.product-thumbnails .col {
    padding-bottom: 0!important
}

.product-thumbnails img,
.product-gallery-slider img {
    width: 100%
}

.product-gallery-wide {
    position: relative
}

@media screen and (min-width:850px) {
    .product-gallery-stacked {
        white-space: normal!important;
        overflow: auto!important;
        width: auto!important
    }
    .product-gallery-stacked .flickity-slider,
    .product-gallery-stacked .flickity-viewport {
        height: auto!important
    }
    .product-gallery-stacked .slide,
    .product-gallery-stacked .flickity-slider {
        position: relative!important;
        -ms-transform: none!important;
        transform: none!important;
        left: 0!important;
        right: 0!important
    }
    .product-gallery-stacked .slide {
        overflow: hidden
    }
    .product-gallery-stacked .slide:not(:last-child) {
        margin-bottom: 1.5em
    }
    .product-stacked-info {
        padding: 5vh 5% 2vh
    }
}

.product-thumbnails {
    padding-top: 0
}

.product-thumbnails a {
    overflow: hidden;
    display: block;
    border: 1px solid transparent;
    background-color: #FFF;
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.product-thumbnails a:hover,
.product-thumbnails .is-nav-selected a {
    border-color: rgba(0, 0, 0, .2)
}

.product-thumbnails img {
    margin-bottom: -5px;
    opacity: .5;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s, opacity 0.6s
}

.product-thumbnails a:hover img,
.product-thumbnails .is-nav-selected a img {
    border-color: rgba(0, 0, 0, .3);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1
}

.vertical-thumbnails .row-slider:not(.flickity-enabled) {
    opacity: 0
}

@media screen and (min-width:850px) {
    .vertical-thumbnails {
        overflow-x: hidden;
        overflow-y: auto
    }
    .vertical-thumbnails .col {
        position: relative!important;
        left: 0!important;
        max-width: 100%!important;
        min-height: 0!important;
        margin-left: 1px;
        width: 95%!important;
        right: 0!important;
        padding: 0 0 15px!important
    }
    .vertical-thumbnails .flickity-slider,
    .vertical-thumbnails .flickity-viewport {
        -ms-transform: none!important;
        transform: none!important;
        overflow: visible!important;
        height: auto!important
    }
}

.product-footer .woocommerce-tabs {
    padding: 30px 0;
    border-top: 1px solid #ececec
}

.product-footer .woocommerce-tabs>.nav-line-grow,
.product-footer .woocommerce-tabs>.nav-line:not(.nav-vertical) {
    margin-top: -31px
}

#product-sidebar .next-prev-thumbs {
    margin: -.5em 0 3em
}

.product-sidebar-small {
    font-size: .9em
}

.product-sidebar-small .widget-title {
    text-align: center
}

.product-sidebar-small .is-divider {
    margin-left: auto;
    margin-right: auto
}

.product-sidebar-small ul.product_list_widget li {
    padding-left: 60px
}

.product-sidebar-small ul.product_list_widget li img {
    width: 50px;
    height: 50px
}

.product-section {
    border-top: 1px solid #ececec
}

.easyzoom-notice {
    display: none
}

.easyzoom-flyout {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 1s;
    animation-delay: 1s;
    animation: stuckFadeIn .6s
}

@media (max-width:849px) {
    .easyzoom-flyout {
        display: none!important
    }
}

.product-gallery-slider .slide .easyzoom-flyout img {
    max-width: 1000px!important;
    width: 1000px!important
}

.woocommerce-product-gallery__trigger {
    display: none
}

.product-info .composite_form .composite_navigation .page_button {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 400
}

.woocommerce-pagination ul.links li {
    margin-left: inherit
}

.has-sticky-product-cart {
    padding-bottom: 60px
}

.has-sticky-product-cart .back-to-top.active {
    bottom: 10px
}

.sticky-add-to-cart__product {
    display: none;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px
}

.sticky-add-to-cart__product .product-title-small {
    margin-right: 1em;
    max-width: 180px;
    line-height: 1
}

.sticky-add-to-cart__product img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 1em;
    border-radius: 5px
}

.sticky-add-to-cart--active {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: -ms-flexbox;
    display: flex;
    padding: 3px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .9em;
    background-color: rgba(255, 255, 255, .9);
    border-top: 1px solid #ddd;
    animation: stuckMoveUp .6s
}

.sticky-add-to-cart--active .woocommerce-variation-description,
.sticky-add-to-cart--active .variations {
    display: none
}

.sticky-add-to-cart--active .woocommerce-variation-add-to-cart,
.sticky-add-to-cart--active .single_variation_wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap
}

.sticky-add-to-cart--active .woocommerce-variation-price,
.sticky-add-to-cart--active .product-page-price {
    margin-top: 0;
    margin-right: .9em;
    margin-bottom: 0;
    font-size: 15px;
    padding: 0;
    border: 0
}

.sticky-add-to-cart--active .quantity,
.sticky-add-to-cart--active form,
.sticky-add-to-cart--active button {
    margin-bottom: 0
}

.sticky-add-to-cart--active .sticky-add-to-cart__product {
    display: -ms-flexbox;
    display: flex
}

@media (max-width:550px) {
    .sticky-add-to-cart--active {
        font-size: .8em
    }
}

.flex-viewport {
    max-height: 2000px;
    transition: all 1s ease;
    cursor: pointer
}

.flex-viewport a {
    display: block
}

.flex-viewport img {
    width: 100%
}

.flex-control-thumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px -5px 0 -5px
}

.flex-control-thumbs li {
    list-style: none;
    width: 25%;
    padding: 0 5px;
    cursor: pointer
}

.flex-control-thumbs li img {
    opacity: .6
}

.flex-control-thumbs li img.flex-active {
    opacity: 1
}

.text-center .quantity,
.quantity {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1em;
    white-space: nowrap;
    vertical-align: top
}

.text-center .button+.quantity,
.button+.quantity {
    margin-right: 0
}

.quantity+.button {
    margin-right: 0;
    font-size: 1em
}

.mfp-content .product-lightbox-inner .quantity .minus,
#wrapper .quantity .minus {
    border-right: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important
}

.mfp-content .product-lightbox-inner .quantity .plus,
#wrapper .quantity .plus {
    border-left: 0!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important
}

.quantity .minus,
.quantity .plus {
    padding-left: .5em;
    padding-right: .5em
}

.quantity input {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0
}

.quantity input[type="number"] {
    max-width: 2.5em;
    width: 2.5em;
    text-align: center;
    border-radius: 0!important;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 1em
}

@media (max-width:549px) {
    .quantity input[type="number"] {
        width: 2em
    }
}

.quantity input[type="number"]::-webkit-outer-spin-button,
.quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.cart-icon {
    display: inline-block
}

.cart-icon strong {
    border-radius: 0;
    font-weight: 700;
    margin: .3em 0;
    border: 2px solid #446084;
    color: #446084;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 2.2em;
    height: 2.2em;
    font-size: 1em;
    line-height: 1.9em;
    font-family: Helvetica, Arial, Sans-serif
}

.cart-icon strong:after {
    transition: height .1s ease-out;
    bottom: 100%;
    margin-bottom: 0;
    margin-left: -7px;
    height: 8px;
    width: 14px;
    left: 50%;
    content: ' ';
    position: absolute;
    pointer-events: none;
    border: 2px solid #446084;
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-bottom: 0
}

.current-dropdown .cart-icon strong,
.cart-icon:hover strong {
    background-color: #446084;
    color: #fff
}

.current-dropdown .cart-icon strong:after,
.cart-icon:hover strong:after {
    height: 10px
}

.nav-small .cart-icon {
    font-size: .66em
}

.nav-dark .cart-icon strong {
    color: #fff;
    border-color: #fff
}

.nav-dark .current-dropdown .cart-icon strong,
.nav-dark .cart-icon:hover strong {
    background-color: #fff;
    color: #446084
}

.nav-dark .cart-icon strong:after {
    border-color: #fff
}

.loading .cart-icon strong,
.loading .cart-icon strong:after {
    border-color: #7a9c59;
    color: #7a9c59
}

.loading .cart-icon:hover strong {
    background-color: #7a9c59;
    color: #FFF
}

.header-cart-icon {
    position: relative
}

@media screen and (min-width: 850px){
	.large-5 {
	    max-width: 41.66667%;
	    -ms-flex-preferred-size: 41.66667%;
	    flex-basis: 41.66667%;
	}
}
.content-row{
	display: flex;
}
.shop-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.entry-title{
	    font-size: 1.7em;
    line-height: 1.3;
}
.entry-content ol li, .entry-summary ol li, .col-inner ol li, .entry-content ul li, .entry-summary ul li, .col-inner ul li {
    margin-left: 1.3em;
    margin-bottom: .6em;
}
.product-short-description ul{
	margin: 0;
	padding: 0;
}
.is-form, button.is-form, input[type='submit'].is-form, input[type='reset'].is-form, input[type='button'].is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: 400;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.product-info .price {
    font-size: 1.5em;
    margin: .5em 0;
    font-weight: bolder;
}
.add-to-cart-button .button {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: .97em;
    letter-spacing: .03em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    color: currentColor;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    background-color: #14a751;
    color:#ffffff;
}
.cam-ket-box .row1 {
    color: #007931;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 25px;
}
@media screen and (min-width: 850px){
	.col-divided {
	    padding-right: 30px;
	    border-right: 1px solid #ececec;
	}
}

.product-title a{
	text-decoration: none;
    color: #14a751;
}
.price del{
	display: none;
}
ins {
    text-decoration: none;
}
.woocommerce-Price-amount{
	margin-bottom: 1rem;
}
.add-to-cart-button{
	margin-top: 1rem;
}
.content-row {
    width: 100%;
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
@media screen and (max-width: 850px){
	.content-row {
	    width: 100%;
	    flex-flow: column;
	}
}
.product-small{
	margin-bottom: 1.5rem;
}
