#project{
	padding:0 0 4rem 0;
}
.project_item{
	position: relative;
	&:hover{
		.project_caption{
			opacity: 1;
	    	visibility: visible;
	    	bottom: 33.33%;
		}
	}
	img{
		box-shadow: 8px 8px 8px #797979;
	}
}
.project_caption{
	position: absolute;
	top:33.33%;
	bottom:30%;
	left: 0;
	right: 0;
	background:rgba(30,175,175,0.6);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-weight:500;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;

}