@media(max-width:768px){
    .header__navbar{
        transform: skew(0);
        &:before {
            display: none;
        }
        .navbar-collapse{
            ul{
                li {
                    
                    a{
                        transform: skew(0);
                        padding: 1rem 2rem !important;
                    }
                }
            }
        }
    }
    .header-logo:after {
        display: none;
    }
    #slideshow{
        margin-top: 1rem ;
        padding: 0;
        &:after{
            display: none;
        }
        
    }
    .about__img {
        padding-right: 0rem;
    }
    #about3{
        background: #ffffff;
    }
    .header-logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 92px;
    }
    .header-container:before {
        display: none;
    }
    .product-slider{
        padding: 1rem 0;
    }
    .product-item {
        flex: 0 100%;
        padding: 1rem;
    }
    .list-product {
        padding: 2rem 0;
    }
    .list-news {
        padding: 2rem 0;
    }
    .product__card{
        margin-bottom: 1rem;
    }
    .media-footer {
        align-items: start !important; 
        margin-bottom: 1.5rem;
        justify-content: flex-start !important;
    }
    .dailoc__title--green {
        text-transform: uppercase;
        font-weight: bold;
        color: #00401e;
        font-size: 2rem;
        margin-top: 1rem;
    }
  
}
