#slideshow{
	padding-left: 90px;
	padding-right: 90px;
    padding-bottom: 92px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(12,91,55,1) 51%, rgba(12,91,55,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(51%, rgba(12,91,55,1)), color-stop(100%, rgba(12,91,55,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(12,91,55,1) 51%, rgba(12,91,55,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(12,91,55,1) 51%, rgba(12,91,55,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(12,91,55,1) 51%, rgba(12,91,55,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#90d3d7', GradientType=1 );
	position: relative;
	
    &:after{
        content: '';
		position: absolute;
		border-left:15px double #ffffff;
        width: 70%;
        height: 92px;
        display: flex;
        right: -30px;
        transform: skew(45deg);
        background-image:url('../images/bg_slider.jpg') ;
        background-repeat: no-repeat;
        background-position: top left;
        background: rgba(108,170,61,1);
		background: -moz-linear-gradient(left, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(108,170,61,1)), color-stop(71%, rgba(13,91,55,1)), color-stop(100%, rgba(13,91,55,1)));
		background: -webkit-linear-gradient(left, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
		background: -o-linear-gradient(left, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
		background: -ms-linear-gradient(left, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
		background: linear-gradient(to right, rgba(108,170,61,1) 0%, rgba(13,91,55,1) 71%, rgba(13,91,55,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6caa3d', endColorstr='#0d5b37', GradientType=1 );
    }
    .carousel-indicators{
	    position: absolute;
	    right: -60px;
	    bottom: 45%;
	    left: auto;
	    z-index: 15;
	    display: block;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -moz-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    padding-left: 0;
	    margin-right: 0%;
	    margin-left: 0%;
	    list-style: none;
	    li {
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 1 auto;
		    -moz-box-flex: 0;
		    -ms-flex: 0 1 auto;
		    flex: 0 1 auto;
		    width: 20px;
		    height: 20px;
		    border-radius: 50%;
		    text-indent: -999px;
		    cursor: pointer;
		    background-color: #fff;
		    -webkit-background-clip: padding-box;
		    -moz-background-clip: padding-box;
		    background-clip: padding-box;
		    opacity: .8;
		    -webkit-transition: opacity 0.6s ease;
		    -o-transition: opacity 0.6s ease;
		    -moz-transition: opacity 0.6s ease;
		    transition: opacity 0.6s ease;
		    border : 2px solid transparent;
		    margin-top: 4px;
		    margin-bottom: 4px;
		}
		li.active{
			background-color: #5a7737;
			border : 2px solid #FFFFFF;
			opacity: 1;
		}
    }
   
}
.carousel__show{
	max-width: 1200px;
	margin: auto;
}

#slide_active{


    .carousel-indicators{
	    position: absolute;
	    bottom: 8%;
	    li {
		    -webkit-box-sizing: content-box;
		    -moz-box-sizing: content-box;
		    box-sizing: content-box;
		    -webkit-box-flex: 0;
		    -webkit-flex: 0 1 auto;
		    -moz-box-flex: 0;
		    -ms-flex: 0 1 auto;
		    flex: 0 1 auto;
		    width: 20px;
		    height: 20px;
		    border-radius: 50%;
		    text-indent: -999px;
		    cursor: pointer;
		    background-color: #fff;
		    -webkit-background-clip: padding-box;
		    -moz-background-clip: padding-box;
		    background-clip: padding-box;
		    opacity: .8;
		    -webkit-transition: opacity 0.6s ease;
		    -o-transition: opacity 0.6s ease;
		    -moz-transition: opacity 0.6s ease;
		    transition: opacity 0.6s ease;
		    border : 2px solid transparent;
		    margin-top: 4px;
		    margin-bottom: 4px;
		}
		li.active{
			background-color: #5a7737;
			border : 2px solid #FFFFFF;
			opacity: 1;
		}
    }
   
}