html{
	   overflow-x:hidden;
}
a{
	text-decoration: none;
}
.dailoc__title{
	text-transform: uppercase;
	font-weight: bold;
	color: #ef3e1c;
	font-size:2.5rem;
	margin-top: 1rem;
	&:after{
		content:'';
		height: 0.5rem;
		background-color: #00401e;
		width: 8rem;
	    display: block;
        top: 1rem;
	}
}
.dailoc__subtitle{
	text-transform: uppercase;
	font-weight: bold;
	color: #ef3e1c;
	font-size:2.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	&:after{
		content:'';
		height: 0.5rem;
		background-color: #00401e;
		width: 8rem;
	    display: block;
        top: 1.5rem;
        margin:auto; 
	}
}
.dailoc__title--green{
	text-transform: uppercase;
	font-weight: bold;
	color: #00401e;
	font-size:2.5rem;
	margin-top: 1rem;
	&:after{
		content:'';
		height: 0.5rem;
		background-color: #00401e;
		width: 8rem;
	    display: block;
        top: 1rem;
	}
}
.small-title{
	text-transform: uppercase;
	font-weight: bold;
	color: #013e1f;
	font-size:1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.titlte-article{
	font-weight: bold;
	color: #013e1f;
	font-size:1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
.widget-title {
	font-size:1.125rem;
	font-weight:600;
}