<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>{{pageTitle}}</title>
  <!-- build:css ./assets/styles/style.css -->

  <!-- bower:css -->
  <!-- endbower -->

  <link href="./assets/styles/bootstrap.css" rel="stylesheet">
  <link href="./assets/styles/style.css" rel="stylesheet">
  <!-- endbuild -->

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&amp;subset=latin-ext,vietnamese"
    rel="stylesheet">

</head>

<body class="{{bodyClasses}}">
  {% include "./shared/header.njk" %}
   {% include "./components/about_page.njk" %} 
  <!-- {% block content %} {% endblock %} -->
  {% include "./shared/footer.njk" %}
  <!-- build:js ./assets/scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/popper.js/dist/umd/popper.js"></script>
  <script src="/bower_components/bootstrap/js/dist/util.js"></script>
  <script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
  <script src="/bower_components/bootstrap/js/dist/modal.js"></script>
  <script src="/bower_components/bootstrap/js/dist/tooltip.js"></script>
  <script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
  <script src="/bower_components/bootstrap/js/dist/carousel.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js ./assets/scripts/main.js -->
  <script src="./assets/scripts/main.js"></script>
  <!-- endbuild -->

</body>

</html>
