<div class="wp__products">
            <div class="trapezoid" style="margin-top:30px;"><span class="trapezoidbox"><a href="http://khandep.com.vn/khan-lau-tay-nha-bep.htm" style="text-transform:uppercase; color:#ffffff;">Khăn lau tay nhà bếp</a></span></div>
            <div class="box__home1">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-lau-tay-cotton-unobaby04-kt-35x35cm-67.htm" alt="Khăn lau tay cotton UNOBABY04 - KT 35x35cm" title="Khăn lau tay cotton UNOBABY04 - KT 35x35cm"><img title="Khăn lau tay cotton UNOBABY04 - KT 35x35cm" alt="Khăn lau tay cotton UNOBABY04 - KT 35x35cm" src="http://khandep.com.vn/files/products/300x300_bep_50.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-lau-tay-cotton-unobaby04-kt-35x35cm-67.htm" alt="Khăn lau tay cotton UNOBABY04 - KT 35x35cm" title="Khăn lau tay cotton UNOBABY04 - KT 35x35cm">
                            <div class="km-title">
                                <h3>Khăn lau tay cotton UNOBABY04 - KT 35x35cm</h3></div>
                        </a>
                        <div class="giaprd">36.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=67"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-lau-tay-cotton-unobaby04-kt-35x35cm-28.htm" alt="Khăn lau tay cotton UNOBABY04 - KT 35x35cm" title="Khăn lau tay cotton UNOBABY04 - KT 35x35cm"><img title="Khăn lau tay cotton UNOBABY04 - KT 35x35cm" alt="Khăn lau tay cotton UNOBABY04 - KT 35x35cm" src="http://khandep.com.vn/files/products/300x300_8936137960356-khan-lau-tay-coton-unobaby04-35x35cm_31.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-lau-tay-cotton-unobaby04-kt-35x35cm-28.htm" alt="Khăn lau tay cotton UNOBABY04 - KT 35x35cm" title="Khăn lau tay cotton UNOBABY04 - KT 35x35cm">
                            <div class="km-title">
                                <h3>Khăn lau tay cotton UNOBABY04 - KT 35x35cm</h3></div>
                        </a>
                        <div class="giaprd">36.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=28"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="clearfix" height="20">&nbsp;</div>
            </div>
        </div>
        <div class="wp__products">
            <div class="trapezoid" style="margin-top:30px;"><span class="trapezoidbox"><a href="http://khandep.com.vn/bo-qua-tang.htm" style="text-transform:uppercase; color:#ffffff;">Bộ quà tặng</a></span></div>
            <div class="box__home1">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/combo6-khan-mat-soi-tre-unobaby02kt-50x28-66.htm" alt="Combo6- Khăn mặt sợi tre UNOBABY/02;KT 50x28" title="Combo6- Khăn mặt sợi tre UNOBABY/02;KT 50x28"><img title="Combo6- Khăn mặt sợi tre UNOBABY/02;KT 50x28" alt="Combo6- Khăn mặt sợi tre UNOBABY/02;KT 50x28" src="http://khandep.com.vn/files/products/300x300_8936137960042-sbaby-combo6-khan-mat-soi-tre-unobaby02-kt-28x50-hop-6_11.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/combo6-khan-mat-soi-tre-unobaby02kt-50x28-66.htm" alt="Combo6- Khăn mặt sợi tre UNOBABY/02;KT 50x28" title="Combo6- Khăn mặt sợi tre UNOBABY/02;KT 50x28">
                            <div class="km-title">
                                <h3>Combo6- Khăn mặt sợi tre UNOBABY/02;KT 50x28</h3></div>
                        </a>
                        <div class="giaprd">199.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=66"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-tam-soi-tre-sbaby-kt-130x70cmhop-44.htm" alt="Khăn tắm sợi tre S'BABY; KT: 130x70cm(Hộp)" title="Khăn tắm sợi tre S'BABY; KT: 130x70cm(Hộp)"><img title="Khăn tắm sợi tre S'BABY; KT: 130x70cm(Hộp)" alt="Khăn tắm sợi tre S'BABY; KT: 130x70cm(Hộp)" src="http://khandep.com.vn/files/products/300x300_khan-tam-soi-tre-sbaby-kt-130x70-hop-2_48.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-tam-soi-tre-sbaby-kt-130x70cmhop-44.htm" alt="Khăn tắm sợi tre S'BABY; KT: 130x70cm(Hộp)" title="Khăn tắm sợi tre S'BABY; KT: 130x70cm(Hộp)">
                            <div class="km-title">
                                <h3>Khăn tắm sợi tre S'BABY; KT: 130x70cm(Hộp)</h3></div>
                        </a>
                        <div class="giaprd">185.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=44"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/bo-qua-tang-khan-cotton-43.htm" alt="Bộ quà tặng khăn cotton" title="Bộ quà tặng khăn cotton"><img title="Bộ quà tặng khăn cotton" alt="Bộ quà tặng khăn cotton" src="http://khandep.com.vn/files/products/300x300_67877752-665438577201889-9212016663015194624-n_53.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/bo-qua-tang-khan-cotton-43.htm" alt="Bộ quà tặng khăn cotton" title="Bộ quà tặng khăn cotton">
                            <div class="km-title">
                                <h3>Bộ quà tặng khăn cotton</h3></div>
                        </a>
                        <div class="giaprd">Liên hệ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=43"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="clearfix" height="20">&nbsp;</div>
            </div>
        </div>