<div id ="about1">
	<div class="container">
		<div class="row">
			<div class="col-md-5 co-xs-12">
				<div class="about__img">
					<img src="assets/images/aboutus.jpg" class="w-100" alt="">
				</div>
			</div>
			<div class="col-md-7 col-xs-12">
				<div class="dailoc__title">Giới thiệu</div>
				<div class="dailoc__about--body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores excepturi aliquam nihil pariatur repellendus cum beatae iusto, quia sunt in ratione autem nemo, tempora laboriosam, sit aliquid debitis? Explicabo, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, mollitia, culpa. Nesciunt autem, ullam deleniti velit id in et repudiandae eos eveniet, enim illo odit, iusto saepe dolor sint, obcaecati.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores excepturi aliquam nihil pariatur repellendus cum beatae iusto, quia sunt in ratione autem nemo, tempora laboriosam, sit aliquid debitis? Explicabo, optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, mollitia, culpa. Nesciunt autem, ullam deleniti velit id in et repudiandae eos eveniet, enim illo odit, iusto saepe dolor sint, obcaecati.</p>
				</div>
			</div>		
		</div>
	</div>
</div>

<div id ="about2">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-4">
				<div class="dailoc__subtitle text-center">Phương châm hoạt động</div>
			</div>
			<div class="col-md-4">
				<div class="box-about-2">
					<img src="assets/images/3.png" class="w-100" alt="">
					<div class="small-title text-center">Uy tín</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sapiente veritatis delectus in quos, non tempore, iure rem ad quidem, amet ut. Recusandae blanditiis placeat ratione vero, accusamus tempora sequi.</p>
				</div>	
			</div>
			<div class="col-md-4">
				<div class="box-about-2">
					<img src="assets/images/2.png" class="w-100" alt="">
					<div class="small-title text-center">Chất lượng</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sapiente veritatis delectus in quos, non tempore, iure rem ad quidem, amet ut. Recusandae blanditiis placeat ratione vero, accusamus tempora sequi.</p>
				</div>	
			</div>
			<div class="col-md-4">
				<div class="box-about-2">
					<img src="assets/images/1.png" class="w-100" alt="">
					<div class="small-title text-center">Hiệu quả</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sapiente veritatis delectus in quos, non tempore, iure rem ad quidem, amet ut. Recusandae blanditiis placeat ratione vero, accusamus tempora sequi.</p>
				</div>	
			</div>
					
		</div>
	</div>
</div>
<div id ="about3">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-4">
				<div class="dailoc__title--green text-left">Tầm nhìn - sứ mệnh</div>
			</div>
			<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
				<div class="box-about_body">
					<div class="box-about-3">
						<img src="assets/images/4.png" class="w-100" alt="">
						<div class="small-title text-center">Tầm nhìn</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>	
					<div class="box-about-3">
						<img src="assets/images/6.png" class="w-100" alt="">
						<div class="small-title text-center">Sứ mệnh</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
					
					
				</div>
				
			</div>
			<div class="col-4">
				
			</div>
				
		</div>
	</div>
</div>