<main id="main" class="my-5">
    <div class="shop-container">
        <div class="container">
            <div class="woocommerce-notices-wrapper"></div>
        </div>
        <div class="product type-product status-publish first instock product_cat-san-pham has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
            <div class="product-container">
                <div class="product-main">
                    <div class="container mb-0 content-row" style="background: white;">
                        <div class="product-gallery large-5 col">
                            <div class="product-images relative mb-half has-hover " data-columns="4" style="opacity: 1;">
                            
                                <div class="image-tools absolute top show-on-hover right z-3"></div>
                                <figure class="">
                                    <div class="flickity-viewport" >
                                        <div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
                                            <div data-thumb="" class="woocommerce-product-gallery__image" aria-selected="true" >
                                                <a href="#">
                                                    <img width="500" height="484" src="http://germanylife.vn/statics/upload/product/7b6a2d9bb1eb7da7c1c6447bd053c82c.JPG" class="skip-lazy" alt="" title="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="product-info summary col-fit col-divided col entry-summary product-summary">
                            <h1 class="product-title entry-title"> Nước rửa chén Germany Llife hương quế 800g</h1>
                            <div class="is-divider small"></div>
                            <div class="price-wrapper">
                                <p class="price product-page-price price-on-sale">
                                    <del><span class="woocommerce-Price-amount amount">29.000<span class="woocommerce-Price-currencySymbol">₫</span></span></del>
                                    <ins><span class="woocommerce-Price-amount amount">29.000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins>
                                </p>
                            </div>
                            <div class="product-short-description">
                                <ul>
                                    <li>Không chứa chất Bảo quản</li>
                                    <li>Không gây hại kích ứng Da tay</li>
                                    <li>Không gây hại Môi trường</li>
                                    <li>Không chứa chất gây Ung thư</li>
                                </ul>
                            </div>
                            <form class="cart" action="" method="post" enctype="multipart/form-data">
                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="minus button is-form">
                                    <label class="screen-reader-text" for="quantity_5d07f7523d5b2">Số lượng</label>
                                    <input type="number" id="quantity_5d07f7523d5b2" class="input-text qty text" step="1" min="1" max="9999" name="quantity" value="1" title="SL" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="nuoc-rua-chen-germany-llife-huong-que-800g">
                                    <input type="button" value="+" class="plus button is-form">
                                </div>
                                <div class="add-to-cart-button mt-3" id="button_buy_8">
                                    <a href="javascript:void(0);" onclick="add_to_cart(8);" class=" button primary ">Mua hàng</a>
                                </div>
                            </form>
                        </div>
                        <div id="product-sidebar" class="col large-3 hide-for-medium ">
                            <aside id="media_image-2" class="widget widget_media_image">
                                <img width="300" height="275" src="http://germanylife.vn/statics/images/site/logo-newsuns-01-1-300x275.jpg">
                            </aside>
                            <aside id="text-2" class="widget widget_text">
                                <div class="textwidget">
                                    <div class="cam-ket-box mt-3">
                                        <div class="row1">Các sản phẩm Germany Llife cam kết không dùng chất bảo quản, không chứa hóa chất độc hại.</div>
                                        <div class="info">
                                            <ul style="width: 265px;">
                                                <li>Hotline: 0373749888</li>
                                                <li>Email: thanhdatgermanyllife@gmail.com</li>
                                                <li>Website: www.germanylife.vn</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="product-footer">
                    <div class="container">
                        <div class="related related-products-wrapper product-section">
                            <h3 class="product-section-title container-width product-section-title-related pt-half text-uppercase my-3"> Sản phẩm tương tự</h3>
                            <div class="row large-columns-5 medium-columns-3 small-columns-2 row-small">
                                <div class="product-small col has-hover product type-product post-302 status-publish instock product_cat-san-pham has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">
                                        
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-zoom">
                                                    <a href="http://germanylife.vn/san-pham/nuoc-rua-chen-germany-llife-huong-que-800g/">
                                                        <img width="300" height="300" src="http://germanylife.vn/statics/upload/product/7b6a2d9bb1eb7da7c1c6447bd053c82c.JPG">
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover"></div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
                                            </div>
                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="name product-title">
                                                        <a href="http://germanylife.vn/san-pham/nuoc-rua-chen-germany-llife-huong-que-800g/">
                                                            Nước rửa chén Germany Llife hương quế 800g                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="price-wrapper"> <span class="price"><del><span class="woocommerce-Price-amount amount">29.000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount">29.000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span>
                                                </div>
                                                <div class="add-to-cart-button" id="button_buy_8">
                                                    <a href="javascript:void(0);" onclick="add_to_cart(8);" class=" button primary ">Mua hàng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-small col has-hover product type-product post-302 status-publish instock product_cat-san-pham has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">
                                       
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-zoom">
                                                    <a href="http://germanylife.vn/san-pham/nuoc-rua-chen-germany-llife-huong-tra-xanh-800g/">
                                                        <img width="300" height="300" src="http://germanylife.vn/statics/upload/product/1175e4ec83830f973c42bc0dcbbcb002.JPG">
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover"></div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
                                            </div>
                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="name product-title">
                                                        <a href="http://germanylife.vn/san-pham/nuoc-rua-chen-germany-llife-huong-tra-xanh-800g/">
                                                            Nước rửa chén Germany Llife hương trà xanh 800g                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="price-wrapper"> <span class="price"><del><span class="woocommerce-Price-amount amount">29.000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount">29.000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span>
                                                </div>
                                                <div class="add-to-cart-button" id="button_buy_9">
                                                    <a href="javascript:void(0);" onclick="add_to_cart(9);" class=" button primary ">Mua hàng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-small col has-hover product type-product post-302 status-publish instock product_cat-san-pham has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">
                                      
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-zoom">
                                                    <a href="http://germanylife.vn/san-pham/nuoc-rua-chen-germany-llife-800g/">
                                                        <img width="300" height="300" src="http://germanylife.vn/statics/upload/product/c7d45ba863a42a0c42d7d4110f0a9b3a.JPG">
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover"></div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
                                            </div>
                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="name product-title">
                                                        <a href="http://germanylife.vn/san-pham/nuoc-rua-chen-germany-llife-800g/">
                                                            Nước rửa chén Germany Llife 800g                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="price-wrapper"> <span class="price"><del><span class="woocommerce-Price-amount amount">29.000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount">29.000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span>
                                                </div>
                                                <div class="add-to-cart-button" id="button_buy_10">
                                                    <a href="javascript:void(0);" onclick="add_to_cart(10);" class=" button primary ">Mua hàng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-small col has-hover product type-product post-302 status-publish instock product_cat-san-pham has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                    <div class="col-inner">
                                     
                                        <div class="product-small box ">
                                            <div class="box-image">
                                                <div class="image-zoom">
                                                    <a href="http://germanylife.vn/san-pham/nuoc-rua-bat-germany-llife-huong-que-5kg/">
                                                        <img width="300" height="300" src="http://germanylife.vn/statics/upload/product/070341598808683f1b3642b9a7be706d.JPG">
                                                    </a>
                                                </div>
                                                <div class="image-tools is-small top right show-on-hover"></div>
                                                <div class="image-tools is-small hide-for-small bottom left show-on-hover"></div>
                                                <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover"></div>
                                            </div>
                                            <div class="box-text box-text-products text-center grid-style-2">
                                                <div class="title-wrapper">
                                                    <p class="name product-title">
                                                        <a href="http://germanylife.vn/san-pham/nuoc-rua-bat-germany-llife-huong-que-5kg/">
                                                            Nước rửa bát Germany Llife hương quế  5kg                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="price-wrapper"> <span class="price"><del><span class="woocommerce-Price-amount amount">136.000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                                                    </del> <ins><span class="woocommerce-Price-amount amount">136.000<span class="woocommerce-Price-currencySymbol">₫</span></span></ins></span>
                                                </div>
                                                <div class="add-to-cart-button" id="button_buy_13">
                                                    <a href="javascript:void(0);" onclick="add_to_cart(13);" class=" button primary ">Mua hàng</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>