<div class="container news">
    <div class="row">
        <div class="col-md-12">
            <div class="dailoc__title ">Tin tức</div>
        </div>
        
   </div>
    <div class="list-news mt-5">
         <div class="row ">
            <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title border-bottom pb-3">Card title </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-sm btn-info float-right">Read more </a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title border-bottom pb-3">Card title </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-info float-right">Read more </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                    <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title border-bottom pb-3">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-info float-right">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                    <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title border-bottom pb-3">Card title </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-info float-right">Read more </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                    <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title border-bottom pb-3">Card title </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-info float-right">Read more </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class= "row">
        <div class="col-md-12">
            <ul class="pagination">
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </div>
   </div>
</div>