<div class="products" id="products">
	<div class="container">
		<div class="row">
			<div class="col-md-4 p-0">
				<div class="product_item_large p-2">
					<div class="product_body">
						<img src="assets/images/thumb1.jpg" class="w-100" alt="">
						<div class="caption">
							<div class="name__product">Ống nước PVC</div>
							<a href="#" class="btn btn-readmore">Chi tiết</a>
						</div>	
					</div>						
				</div>
			</div>
			<div class="col-md-4 p-0">
				<div class="product_item p-2">
					<div class="product_body">
						<img src="assets/images/thumb2.jpg" class="w-100" alt="">
						<div class="caption">
							<div class="name__product">Ống nước PVC</div>
							<a href="#" class="btn btn-readmore">Chi tiết</a>
						</div>	
					</div>
					
				</div>
				<div class="product_item p-2">
					<div class="product_body">
						<img src="assets/images/thumb2.jpg" class="w-100" alt="">
						<div class="caption">
							<div class="name__product">Ống nước PVC</div>
							<a href="#" class="btn btn-readmore">Chi tiết</a>
						</div>	
					</div>	
				</div>
			</div>
			<div class="col-md-4 p-0">
				<div class="product_item p-2">
					<div class="product_body">
						<img src="assets/images/thumb2.jpg" class="w-100" alt="">
						<div class="caption">
							<div class="name__product">Ống nước PVC</div>
							<a href="#" class="btn btn-readmore">Chi tiết</a>
						</div>	
					</div>
				</div>
				<div class="product_item p-2">
					<div class="product_body">
						<img src="assets/images/thumb2.jpg" class="w-100" alt="">
						<div class="caption">
							<div class="name__product">Ống nước PVC</div>
							<a href="#" class="btn btn-readmore">Chi tiết</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>