<div class="container pb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="dailoc__title wow fadeIn " data-wow-duration="0.5s" data-wow-delay="0.5s">Sản phẩm</div>
        </div>
        
   </div>
    <div class="col-main-content">
        <div class="wp__products">
            <div class="trapezoid wow fadeIn " data-wow-duration="0.5s" data-wow-delay="0.5s" style="margin-top:30px;"><span class="trapezoidbox"><a href="http://khandep.com.vn/khan-soi-tre.htm" style="text-transform:uppercase; color:#ffffff;">Khăn sợi tre</a></span></div>
            <div class="box__home1">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-mat-soi-tre-unobaby03-kt-25x25cmtui-62.htm" alt="Khăn mặt sợi tre UNOBABY/03; KT: 25x25cm(túi)" title="Khăn mặt sợi tre UNOBABY/03; KT: 25x25cm(túi)"><img title="Khăn mặt sợi tre UNOBABY/03; KT: 25x25cm(túi)" alt="Khăn mặt sợi tre UNOBABY/03; KT: 25x25cm(túi)" src="http://khandep.com.vn/files/products/300x300_8936137960103-sbaby-combo3-khan-mat-soi-tre-unobaby03-kt-25x25-goi-3_05.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-mat-soi-tre-unobaby03-kt-25x25cmtui-62.htm" alt="Khăn mặt sợi tre UNOBABY/03; KT: 25x25cm(túi)" title="Khăn mặt sợi tre UNOBABY/03; KT: 25x25cm(túi)">
                            <div class="km-title">
                                <h3>Khăn mặt sợi tre UNOBABY/03; KT: 25x25cm(túi)</h3></div>
                        </a>
                        <div class="giaprd">45.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=62"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/combo2-khan-mat-soi-tre-unobaby02-kt-50x28cm-61.htm" alt="Combo2- Khăn mặt sợi tre UNOBABY/02; KT 50x28cm" title="Combo2- Khăn mặt sợi tre UNOBABY/02; KT 50x28cm"><img title="Combo2- Khăn mặt sợi tre UNOBABY/02; KT 50x28cm" alt="Combo2- Khăn mặt sợi tre UNOBABY/02; KT 50x28cm" src="http://khandep.com.vn/files/products/300x300_67545450-1279876345520626-3659873067510792192-n_17.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/combo2-khan-mat-soi-tre-unobaby02-kt-50x28cm-61.htm" alt="Combo2- Khăn mặt sợi tre UNOBABY/02; KT 50x28cm" title="Combo2- Khăn mặt sợi tre UNOBABY/02; KT 50x28cm">
                            <div class="km-title">
                                <h3>Combo2- Khăn mặt sợi tre UNOBABY/02; KT 50x28cm</h3></div>
                        </a>
                        <div class="giaprd">63.000đ <span class="giaprdold">65.000đ</span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=61"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-mat-soi-tre-takababy-kt-50x32-60.htm" alt="Khăn mặt sợi tre TAKABABY; KT 50x32" title="Khăn mặt sợi tre TAKABABY; KT 50x32"><img title="Khăn mặt sợi tre TAKABABY; KT 50x32" alt="Khăn mặt sợi tre TAKABABY; KT 50x32" src="http://khandep.com.vn/files/products/300x300_67404867-1391906800982411-1475158121843261440-n_91.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-mat-soi-tre-takababy-kt-50x32-60.htm" alt="Khăn mặt sợi tre TAKABABY; KT 50x32" title="Khăn mặt sợi tre TAKABABY; KT 50x32">
                            <div class="km-title">
                                <h3>Khăn mặt sợi tre TAKABABY; KT 50x32</h3></div>
                        </a>
                        <div class="giaprd">39.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=60"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-quan-dau-soi-tre-unobaby01-kt-86x35-59.htm" alt="Khăn quấn đầu sợi tre UNOBABY/01; KT 86X35" title="Khăn quấn đầu sợi tre UNOBABY/01; KT 86X35"><img title="Khăn quấn đầu sợi tre UNOBABY/01; KT 86X35" alt="Khăn quấn đầu sợi tre UNOBABY/01; KT 86X35" src="http://khandep.com.vn/files/products/300x300_khan-quan-dau-soi-tre-unobaby01-kt-35x86_19.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-quan-dau-soi-tre-unobaby01-kt-86x35-59.htm" alt="Khăn quấn đầu sợi tre UNOBABY/01; KT 86X35" title="Khăn quấn đầu sợi tre UNOBABY/01; KT 86X35">
                            <div class="km-title">
                                <h3>Khăn quấn đầu sợi tre UNOBABY/01; KT 86X35</h3></div>
                        </a>
                        <div class="giaprd">56.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=59"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="clearfix" height="20">&nbsp;</div>
            </div>
        </div>
        <div class="wp__products">
            <div class="trapezoid" style="margin-top:30px;"><span class="trapezoidbox"><a href="http://khandep.com.vn/khan-cotton.htm" style="text-transform:uppercase; color:#ffffff;">Khăn cotton</a></span></div>
            <div class="box__home1">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-mat-cotton-unobaby02-kt-50x28-38.htm" alt="Khăn mặt cotton UNOBABY02 - KT 50x28" title="Khăn mặt cotton UNOBABY02 - KT 50x28"><img title="Khăn mặt cotton UNOBABY02 - KT 50x28" alt="Khăn mặt cotton UNOBABY02 - KT 50x28" src="http://khandep.com.vn/files/products/300x300_khan-mat-unobaby02-kt28x50_38.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-mat-cotton-unobaby02-kt-50x28-38.htm" alt="Khăn mặt cotton UNOBABY02 - KT 50x28" title="Khăn mặt cotton UNOBABY02 - KT 50x28">
                            <div class="km-title">
                                <h3>Khăn mặt cotton UNOBABY02 - KT 50x28</h3></div>
                        </a>
                        <div class="giaprd">33.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=38"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-mat-cotton-unobaby03-kt-34x34-cm55gam-36.htm" alt="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam" title="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam"><img title="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam" alt="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam" src="http://khandep.com.vn/files/products/300x300_khan-unobaby03-kt-34x34-cm_73.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-mat-cotton-unobaby03-kt-34x34-cm55gam-36.htm" alt="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam" title="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam">
                            <div class="km-title">
                                <h3>Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam</h3></div>
                        </a>
                        <div class="giaprd">25.000đ <span class="giaprdold">28.000đ</span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=36"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-tam-cotton-uchibaby-kt-120x60-35.htm" alt="Khăn tắm Cotton UCHIBABY - KT 120x60" title="Khăn tắm Cotton UCHIBABY - KT 120x60"><img title="Khăn tắm Cotton UCHIBABY - KT 120x60" alt="Khăn tắm Cotton UCHIBABY - KT 120x60" src="http://khandep.com.vn/files/products/300x300_sbaby-8936137960196-khan-tam-uchibaby-kt-120x60-cm-123_99.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-tam-cotton-uchibaby-kt-120x60-35.htm" alt="Khăn tắm Cotton UCHIBABY - KT 120x60" title="Khăn tắm Cotton UCHIBABY - KT 120x60">
                            <div class="km-title">
                                <h3>Khăn tắm Cotton UCHIBABY - KT 120x60</h3></div>
                        </a>
                        <div class="giaprd">128.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=35"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-quan-dau-cotton-unobaby01-kt-86x38-12.htm" alt="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38" title="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38"><img title="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38" alt="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38" src="http://khandep.com.vn/files/products/300x300_67447473-488953901933015-2556875953515003904-n_46.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-quan-dau-cotton-unobaby01-kt-86x38-12.htm" alt="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38" title="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38">
                            <div class="km-title">
                                <h3>Khăn quấn đầu Cotton UNOBABY01 - KT 86x38</h3></div>
                        </a>
                        <div class="giaprd">60.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=12"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="clearfix" height="20">&nbsp;</div>
            </div>
        </div>
        <div class="wp__products">
            <div class="trapezoid" style="margin-top:30px;"><span class="trapezoidbox"><a href="http://khandep.com.vn/khan-soi-soi.htm" style="text-transform:uppercase; color:#ffffff;">Khăn sợi sồi</a></span></div>
            <div class="box__home1">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/combo-3-khan-mat-soi-soi-unobaby04-kt-25x25cm-65.htm" alt="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm" title="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm"><img title="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm" alt="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm" src="http://khandep.com.vn/files/products/300x300_sbaby-combo3-khan-mat-soi-soi-unobaby03-kt-25x25-goi-3_66.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/combo-3-khan-mat-soi-soi-unobaby04-kt-25x25cm-65.htm" alt="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm" title="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm">
                            <div class="km-title">
                                <h3>Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm</h3></div>
                        </a>
                        <div class="giaprd">58.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=65"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-mat-soi-soi-unobaby03-kt-34x34cm-64.htm" alt="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm" title="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm"><img title="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm" alt="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm" src="http://khandep.com.vn/files/products/300x300_khan-mat-unobaby-kt-34x34_64.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-mat-soi-soi-unobaby03-kt-34x34cm-64.htm" alt="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm" title="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm">
                            <div class="km-title">
                                <h3>Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm</h3></div>
                        </a>
                        <div class="giaprd">35.000đ <span class="giaprdold">39.000đ</span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=64"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-quan-dau-soi-soi-unobaby01-kt-38x86cm-53.htm" alt="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm" title="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm"><img title="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm" alt="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm" src="http://khandep.com.vn/files/products/300x300_khan-quan-dau-soi-soi-unobaby-kt-38x86_17.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-quan-dau-soi-soi-unobaby01-kt-38x86cm-53.htm" alt="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm" title="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm">
                            <div class="km-title">
                                <h3>Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm</h3></div>
                        </a>
                        <div class="giaprd">98.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=53"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-tam-soi-soi-sbaby-kt-130x70cm-52.htm" alt="Khăn tắm sợi sồi S'BABY; KT: 130x70cm" title="Khăn tắm sợi sồi S'BABY; KT: 130x70cm"><img title="Khăn tắm sợi sồi S'BABY; KT: 130x70cm" alt="Khăn tắm sợi sồi S'BABY; KT: 130x70cm" src="http://khandep.com.vn/files/products/300x300_2_88.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-tam-soi-soi-sbaby-kt-130x70cm-52.htm" alt="Khăn tắm sợi sồi S'BABY; KT: 130x70cm" title="Khăn tắm sợi sồi S'BABY; KT: 130x70cm">
                            <div class="km-title">
                                <h3>Khăn tắm sợi sồi S'BABY; KT: 130x70cm</h3></div>
                        </a>
                        <div class="giaprd">268.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=52"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="clearfix" height="20">&nbsp;</div>
            </div>
        </div>
        <div class="wp__products">
            <div class="trapezoid" style="margin-top:30px;"><span class="trapezoidbox"><a href="http://khandep.com.vn/khan-cotton.htm" style="text-transform:uppercase; color:#ffffff;">Khăn cotton</a></span></div>
            <div class="box__home1">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-mat-cotton-unobaby02-kt-50x28-38.htm" alt="Khăn mặt cotton UNOBABY02 - KT 50x28" title="Khăn mặt cotton UNOBABY02 - KT 50x28"><img title="Khăn mặt cotton UNOBABY02 - KT 50x28" alt="Khăn mặt cotton UNOBABY02 - KT 50x28" src="http://khandep.com.vn/files/products/300x300_khan-mat-unobaby02-kt28x50_38.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-mat-cotton-unobaby02-kt-50x28-38.htm" alt="Khăn mặt cotton UNOBABY02 - KT 50x28" title="Khăn mặt cotton UNOBABY02 - KT 50x28">
                            <div class="km-title">
                                <h3>Khăn mặt cotton UNOBABY02 - KT 50x28</h3></div>
                        </a>
                        <div class="giaprd">33.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=38"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-mat-cotton-unobaby03-kt-34x34-cm55gam-36.htm" alt="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam" title="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam"><img title="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam" alt="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam" src="http://khandep.com.vn/files/products/300x300_khan-unobaby03-kt-34x34-cm_73.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-mat-cotton-unobaby03-kt-34x34-cm55gam-36.htm" alt="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam" title="Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam">
                            <div class="km-title">
                                <h3>Khăn mặt cotton UNOBABY03 - KT 34x34 cm;55gam</h3></div>
                        </a>
                        <div class="giaprd">25.000đ <span class="giaprdold">28.000đ</span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=36"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-tam-cotton-uchibaby-kt-120x60-35.htm" alt="Khăn tắm Cotton UCHIBABY - KT 120x60" title="Khăn tắm Cotton UCHIBABY - KT 120x60"><img title="Khăn tắm Cotton UCHIBABY - KT 120x60" alt="Khăn tắm Cotton UCHIBABY - KT 120x60" src="http://khandep.com.vn/files/products/300x300_sbaby-8936137960196-khan-tam-uchibaby-kt-120x60-cm-123_99.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-tam-cotton-uchibaby-kt-120x60-35.htm" alt="Khăn tắm Cotton UCHIBABY - KT 120x60" title="Khăn tắm Cotton UCHIBABY - KT 120x60">
                            <div class="km-title">
                                <h3>Khăn tắm Cotton UCHIBABY - KT 120x60</h3></div>
                        </a>
                        <div class="giaprd">128.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=35"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-quan-dau-cotton-unobaby01-kt-86x38-12.htm" alt="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38" title="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38"><img title="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38" alt="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38" src="http://khandep.com.vn/files/products/300x300_67447473-488953901933015-2556875953515003904-n_46.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-quan-dau-cotton-unobaby01-kt-86x38-12.htm" alt="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38" title="Khăn quấn đầu Cotton UNOBABY01 - KT 86x38">
                            <div class="km-title">
                                <h3>Khăn quấn đầu Cotton UNOBABY01 - KT 86x38</h3></div>
                        </a>
                        <div class="giaprd">60.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=12"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="clearfix" height="20">&nbsp;</div>
            </div>
        </div>
        <div class="wp__products">
            <div class="trapezoid" style="margin-top:30px;"><span class="trapezoidbox"><a href="http://khandep.com.vn/khan-soi-soi.htm" style="text-transform:uppercase; color:#ffffff;">Khăn sợi sồi</a></span></div>
            <div class="box__home1">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/combo-3-khan-mat-soi-soi-unobaby04-kt-25x25cm-65.htm" alt="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm" title="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm"><img title="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm" alt="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm" src="http://khandep.com.vn/files/products/300x300_sbaby-combo3-khan-mat-soi-soi-unobaby03-kt-25x25-goi-3_66.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/combo-3-khan-mat-soi-soi-unobaby04-kt-25x25cm-65.htm" alt="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm" title="Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm">
                            <div class="km-title">
                                <h3>Combo 3 - Khăn mặt sợi sồi UNOBABY/04; KT: 25x25cm</h3></div>
                        </a>
                        <div class="giaprd">58.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=65"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-mat-soi-soi-unobaby03-kt-34x34cm-64.htm" alt="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm" title="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm"><img title="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm" alt="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm" src="http://khandep.com.vn/files/products/300x300_khan-mat-unobaby-kt-34x34_64.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-mat-soi-soi-unobaby03-kt-34x34cm-64.htm" alt="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm" title="Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm">
                            <div class="km-title">
                                <h3>Khăn mặt sợi sồi UNOBABY/03; KT: 34x34cm</h3></div>
                        </a>
                        <div class="giaprd">35.000đ <span class="giaprdold">39.000đ</span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=64"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-quan-dau-soi-soi-unobaby01-kt-38x86cm-53.htm" alt="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm" title="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm"><img title="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm" alt="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm" src="http://khandep.com.vn/files/products/300x300_khan-quan-dau-soi-soi-unobaby-kt-38x86_17.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-quan-dau-soi-soi-unobaby01-kt-38x86cm-53.htm" alt="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm" title="Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm">
                            <div class="km-title">
                                <h3>Khăn quấn đầu sợi sồi UNOBABY/01, KT: 38x86cm</h3></div>
                        </a>
                        <div class="giaprd">98.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=53"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sp_space wow bounceIn " data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="km-prd-new">
                        <div class="km-image" id="box_hover">
                            <a href="http://khandep.com.vn/khan-tam-soi-soi-sbaby-kt-130x70cm-52.htm" alt="Khăn tắm sợi sồi S'BABY; KT: 130x70cm" title="Khăn tắm sợi sồi S'BABY; KT: 130x70cm"><img title="Khăn tắm sợi sồi S'BABY; KT: 130x70cm" alt="Khăn tắm sợi sồi S'BABY; KT: 130x70cm" src="http://khandep.com.vn/files/products/300x300_2_88.jpg"></a>
                        </div>
                        <a href="http://khandep.com.vn/khan-tam-soi-soi-sbaby-kt-130x70cm-52.htm" alt="Khăn tắm sợi sồi S'BABY; KT: 130x70cm" title="Khăn tắm sợi sồi S'BABY; KT: 130x70cm">
                            <div class="km-title">
                                <h3>Khăn tắm sợi sồi S'BABY; KT: 130x70cm</h3></div>
                        </a>
                        <div class="giaprd">268.000đ <span class="giaprdold"></span></div>
                        <div class="cart1"> <a class="muahang_home" href="http://khandep.com.vn/index.php?f=products&amp;do=cart_add&amp;id=52"> Mua ngay</a></div>
                    </div>
                </div>
                <div class="clearfix" height="20">&nbsp;</div>
            </div>
        </div>
        <div class="pagination__next " href="product_page2.html"></div>
        
    </div>

</div>