<div id="project">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="dailoc__subtitle text-center mb-5">Dự án nổi bật</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="project_item mb-4">
					<img src="assets/images/duan.jpg" class="w-100" alt="">
					<div class="project_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project_item mb-4">
					<img src="assets/images/duan.jpg" class="w-100" alt="">
					<div class="project_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project_item mb-4">
					<img src="assets/images/duan.jpg" class="w-100" alt="">
					<div class="project_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project_item mb-4">
					<img src="assets/images/duan.jpg" class="w-100" alt="">
					<div class="project_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project_item mb-4">
					<img src="assets/images/duan.jpg" class="w-100" alt="">
					<div class="project_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="project_item mb-4">
					<img src="assets/images/duan.jpg" class="w-100" alt="">
					<div class="project_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>
				</div>
			</div>
			
		</div>
	</div>
</div>