<div id="slide_active" class="">
	<div id="carouselActive" class="carousel slide carousel__active" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselActive" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselActive" data-slide-to="1"></li>
	    <li data-target="#carouselActive" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="assets/images/slide4.jpg" class="d-block w-100" alt="...">
	    </div>
	    <div class="carousel-item">
	      <img src="assets/images/slide6.jpg" class="d-block w-100" alt="...">
	    </div>
	  </div>
	
	</div>
</div>