<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="media media-footer">
				  <img src="assets/images/8.png" width="60" class="mr-3" alt="...">
				  <div class="media-body mt-1">
				    Số 59, ngõ 25, Ngô Gia Tự, Long Biên , Hà nội
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="media media-footer">
				  <img src="assets/images/9.png" width="60" class="mr-3" alt="...">
				  <div class="media-body mt-1">
				    info@gmail.com <br>
				    www.dailoc.com.vn
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="media media-footer">
				  <img src="assets/images/10.png" width="60" class="mr-3" alt="...">
				  <div class="media-body mt-1">
				    098 968 968 <br>
				    034 567 8910
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="title-footer hidden-xs">link nhanh</div>	
				<ul class="list-unstyled list-link hidden-xs">
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Giới thiệu</a></li>
					<li><a href="#">Sản phẩm</a></li>
					<li><a href="#">Tin tức</a></li>
					<li><a href="#">Liên hệ</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<div class="title-footer hidden-xs">Maps</div>
				<div class="w-100 hidden-xs"><iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1862.470004454444!2d105.80808430821156!3d20.995041750646315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m1!1m0!5e0!3m2!1svi!2s!4v1564649334822!5m2!1svi!2s" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>	
			</div>
		</div>
	</div>
</div>