<header class="header">
    <div class="container header-container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-logo">
                    <a href="/"> <img src="/assets/images/logo.jpg" width="265"/> </a>
                </div>
            </div>
            <div class="col-md-9">
                <nav class="header__navbar navbar navbar-expand-lg navbar-light">
                 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sản phẩm</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                        </ul>

                    </div>
                    </nav>
            </div>
        </div>
    <div>
    
</header>